
* {
    margin: 0px;
}

body{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
}
form {
    max-width: 800px;
    margin: 0 auto;
    border: 10px solid #ccc;
}

h2 {
    margin: 30px 0px 0px 15px;
}

.content {
    margin: 20px;
    display: grid;
    grid-template-columns: 200px auto;
}

.content div {
    margin: 3px;
}

#gender {
    text-align: left;
    margin: 28px auto;
}

.form-label * {
    margin: 2px auto;
    padding: 5px;
}

.form-content * {
    margin: 2px auto;
    padding: 5px;
}

[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

footer {
    margin: 20px;
    display: flex;
    justify-content: space-between;

}

button {
    background-color: #000;
    color: #fff;
    padding: 7px;
}

hr {
background-color: #ccc;
    height: 2px;
    width: 95%;
    margin: 0 auto;
}
